<% provide(:title, "Special") %>
<h1>Special</h1>
<p>
  This is the special page for the
  <%= link_to "sample app for rails tutorial", root_url %>
  .<br>
  If you want to look static pages, links is this! <br>
  <%= link_to "home page", static_pages_home_url %><br>
  <%= link_to "about page", static_pages_about_url %><br>
  <%= link_to "contact page", static_pages_contact_url %><br>
  <%= link_to "help page", static_pages_help_url %><br>
</p>
